
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


body{
	
	font-size: 16px;
	color: #000;
}
header{
	background-color: #000;
}

#hero{
	text-align: center;
	background-image: url("../img/bg-sliders.jpg");
	background-size: cover;
	background-position: top center;
	color: #fff;
	padding: 15px 50px;
}


#hero h1{
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 40px;
	font-weight: 500;
}

#hero p{
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 30;
	font-weight: 40;
	text-align: left;
}

#hero img{
	
}

#banners {
	padding: 20px;
}

#product{
	
}

footer{
	background-color: #323232;
	color: #fff;
	padding: 20px 0;
	font-size: 14px;
}

footer li a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #F3A803;
	display: block;
	text-align: center;
	border-radius: 100%;
	color: #58606b;
	font-size: 16px;
}